
@{
    ViewBag.Title = "uploade";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>uploade</h2>

@using (Html.BeginForm("uploade", "BaiBao", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <div>
        <label>up</label>
        <input type="file" name="file"/>
    </div>
    <div>
        <button type="submit">luwu</button>
    </div>
}